{% extends 'shared/base.html' %}

{% block title %}{{ deck.name }}{% endblock %}

{% block content %}
{% include 'shared/header.html' %}
<form action="{{ url_for('decks.save_deck', uuid=deck.uuid) }}" method="POST">
    <div class="container pt-5">
        <div class="row">
            <label for="name" class="form-label">Name</label>
            <input type="text" name="name" class="form-control" value="{{ deck.name}}" />
            <label for="description" class="form-label">Description</label>
            <textarea class="form-control" name="description" rows="3">{{ deck.description }}</textarea>
            <label for="cards" class="form-label">Cards</label>
            <textarea class="form-control" name="cards" rows="20">{% for card in deck.cards %}{{card.quantity}} {{card.name}} ({{card.set_code}}) {{card.collector_number}}&#013;{% endfor %}</textarea>
        </div>
    </div>
</form>
{% endblock %}