<!doctype html>
<html>
    <head>
        <meta charset="utf8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Deck</title>
        <link href="{{ url_for('static', filename='bootstrap-5.3.3/css/bootstrap.css') }}" rel="stylesheet" />
    </head>
    <body>
        <form action="{{ url_for('decks.save_deck', uuid=deck.uuid) }}" method="POST">
            <header class="border-bottom pt-2 pb-2">
                <div class="container">
                    <div class="d-flex flex-wrap align-items-center justify-content-center">
                        <h3 class="m-0 align-self-start">Deck Organizer</h3>
                        <ul class="nav col align-self-start">
                            <li>    
                                <a class="nav-link px-2 link-secondary" href="{{ url_for("decks.decks") }}">Decks</a>
                            </li>
                            <li>
                                <a class="nav-link px-2 link-secondary" href="{{ url_for('decks.deck', uuid=deck.uuid) }}">Back</a>
                            </li>
                        </ul>
                        <div class="text-end">
                            <button class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container pt-5">
                <div class="row">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" name="name" class="form-control" value="{{ deck.name}}" />
                    <label for="description" class="form-label">Description</label>
                    <textarea class="form-control" name="description" rows="3">{{ deck.description }}</textarea>
                    <label for="cards" class="form-label">Cards</label>
                    <textarea class="form-control" name="cards" rows="20">{% for card in deck.cards %}{{card.quantity}} {{card.name}} ({{card.set_code}}) {{card.collector_number}}&#013;{% endfor %}</textarea>
                </div>
            </div>
        </form>
    </body>
</html>